<div
  class="text-lg font-semibold tracking-widest rounded-lg focus:outline-none focus:shadow-outline"
>
  <div class="inline-flex items-center">
    <!-- <div class="w-2 h-2 p-2 mr-2 rounded-full bg-yellow-200 border-2 border-orange-500 box-shadow"> -->
    <div class="mx-1 circle" style="width: 44px; height: 44px">
      <!-- Adjust the width and height as needed -->
      <img
        src="/images/logo3.png"
        alt="Daybreak Travel logo"
        style="width: 100%; height: 100%"
      />
    </div>
    <h2
      class="text-lg font-bold tracking-tighter transition duration-500 ease-in-out transform tracking-relaxed hover:text-blue-500"
    >
      daybreak.travel
    </h2>
  </div>
</div>
