<div class="w-full px-4 mt-12 text-lg leading-relaxed text-black lg:px-0 lg:w-3/4">
  <p class="pb-6">Of course, from a group of Libyan Nationalists. They wanted me to build them
    a bomb, so I took their plutonium and in
    turn gave them a shiny bomb case full of used pinball machine parts. Ahh. Indeed I will,
    roll em. I, Doctor Emmett
    Brown, am about to embark on an historic journey. What have I been thinking of, I almost
    forgot to bring some extra
    plutonium. How did I ever expect to get back, one pallet one trip I must be out of my
    mind. What is it Einy? Oh my god,
    they found me, I don't know how but they found me. Run for it, Marty. He's an absolute
    dream. Go. Go.</p>
  <p class="pb-6">Adieus except say barton put feebly favour him. Entreaties unpleasant
    sufficient few pianoforte
    discovered
    uncommonly ask. Morning cousins amongst in mr weather do neither. Warmth object matter
    course active law
    spring six. Pursuit showing tedious unknown winding see had man add. And park eyes too
    more him. Simple excuse
    active had son wholly coming number add. Though all excuse ladies rather regard assure
    yet. If feelings so
    prospect no as raptures quitting.</p>
  <div class="pl-4 mb-6 text-6xl italic font-black border-l-8 border-black lg:bordr-l-4">
    The car, Dad, I mean He wrecked it, totaled it.
  </div>
  <p class="pb-6">Excuse me. No, fine, no , good, fine, good. Well, because George, nice girls
    get angry when guys take advantage of them.
    Hey George, buddy, hey, I've been looking all over for you. You remember me, the guy who
    saved your life the other day.
    Hey boy, are you alright?</p>
  <h2 class="mt-4 mb-4 text-5xl font-semibold text-black">Uneasy barton seeing remark happen
    his has</h2>
  <p class="pb-6">So what's it to you, butthead. You know you've been looking for a, since
    you're new here, I'm gonna cut you a break,
    today. So why don't you make like a tree, and get out of here. Uh, well, okay Biff, uh,
    I'll finish that on up tonight
    and I'll bring it over first thing tomorrow morning. You want it, you know you want it,
    and you know you want me to give
    it to you. I can't believe you loaned me a car, without telling me it had a blindspot. I
    could've been killed. It's a
    board with wheels.</p>
  <p class="pb-6">What have I been thinking of, I almost forgot to bring some extra
    plutonium. How did I ever expect to get back, one pallet one trip I must be out of my
    mind. What is it Einy? Oh my god,
    they found me, I don't know how but they found me. Run for it, Marty. He's an absolute
    dream. Go. Go.</p>
</div>