<div class="my-8 flex justify-center">
  <form class="w-full lg:w-1/2 px-4 py-8 my-2 mb-4 bg-white border-2 border-black shadow-whiterock" name="#" method="POST" action="#">
    <div class="mb-4">
      <label class="block mb-2 text-xs font-bold tracking-wide text-black uppercase" for="grid-title">
        Name
      </label>
      <input class="w-full px-4 py-3 text-black bg-blue-50 appearance-none  focus:outline-none"
        id="grid-title" type="text" name="title" placeholder="Your name" required="">
    </div>
    <div class="mb-4">
      <label class="block mb-2 text-xs font-bold tracking-wide text-black uppercase" for="subject">
        Subject
      </label>
      <input class="w-full px-4 py-3 leading-relaxed tracking-wide text-black bg-blue-50 appearance-none focus:outline-none"
        id="subject" type="text" name="subject" placeholder="Subject..." required="">
    </div>    
    <div class="mb-4">
      <label class="block mb-2 text-xs font-bold tracking-wide text-black uppercase" for="description">
        Message
      </label>
      <textarea class="w-full px-4 py-3 leading-relaxed tracking-wide text-black bg-blue-50 appearance-none autoexpand focus:outline-none"
        id="description" type="text" name="description" placeholder="Message..." required=""></textarea>
    </div>
    <div class="mb-4">
      <label class="block mb-2 text-xs font-bold tracking-wide text-black uppercase" for="email">
        Email
      </label>
      <input class="w-full px-4 py-3 bg-blue-50 appearance-none focus:outline-none" id="email" type="email" name="email"
        placeholder="email@example.com">
    </div>
    <div class="mt-4">
      <button class="w-full px-4 py-4 text-2xl font-bold text-black uppercase border-2 border-black button hover:bg-blue-50 hover:text-black focus:outline-none"
        type="submit">Submit</button>
    </div>
  </form>
</div>
