<div class="flex flex-wrap py-12 md:flex-nowrap">

  <div class="md:flex-grow">
    <h2 class="inline-flex items-center mb-2 text-2xl font-medium text-gray-900 font-display lg:text-6xl">
      Entry title
      &rightarrow;
    </h2>
    <p class="pt-4 text-base leading-relaxed text-black lg:text-xl">

      Refers to the appearance of all the text on your website. ... It's the size of different runs of text in
      relation to one
      another, and the history behind each font family. A lot of your typography decisions will come from a
      designer...</p>

  </div>
</div>