<div class="relative w-full pt-12 mx-auto mt-4 md:mb-0">
  <div class="px-4 py-4 lg:px-0">

    <h3 class="mt-auto text-3xl font-black tracking-wide title-font lg:text-4xl font-display">oh, oh a rematch,
      why, were
      you cheating? </h3>
  </div>

  <img
    src="https://images.unsplash.com/photo-1580089056071-11f31b94fefe?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=753&amp;q=80"
    class="object-cover object-center w-full h-64 p-4 border-2 border-black shadow-whiterock">
</div>