@tailwind base;
@tailwind components;
@tailwind utilities;

/*YELLOW HIGHLIGHT*/
.highlight::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 0, 0.5); /* Yellow with 30% opacity */
    z-index: 4; /* Place the highlight behind the text */
    animation: highlightExpand 5s ease forwards;
  }

  @keyframes highlightExpand {
    0% {
      width: 0;
      left: 0;
    }
    60% {
      width: 100%;
      left: 0;
    }
    70% {
      width: 100%;
      left: 0; /* Reset the left position to 0 */
    }
    100% {
      width: 0;
      left: 100%;
    }
  }

  /*STRIPES FADE IN*/
  .stripe {
    width: 100%;
    height: 42px;
    margin: 0;
    padding: 0;
    opacity: 0;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes stripeAnimation {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
  

/*SCROLL FADE*/

/*STYLE FOR SCROLLFADE*/
.scrollFade {
    opacity: 1;
    pointer-events: all;
  }
  
  .scrollFade--hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .scrollFade--visible {
    opacity: 1;
    pointer-events: all;
  }
  
  .scrollFade--animate {
    transition: opacity 0.4s ease-in-out;
  }
  
  .scrollFade--visible.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }
  
  .scrollFade--visible.fade-left {
    animation: fade-left 1s ease-in;
  }
  
  .scrollFade--visible.fade-right {
    animation: fade-right 1s ease-in;
  }
  
  @keyframes fade-bottom {
    0% {
      transform: translateY(100px);
      -webkit-transform: translateY(100px);
      visibility: hidden;
      opacity: 0.2;
    }
    50% {
      transform: translateY(0);
      -webkit-transform: translateY(0);
      visibility: visible;
      opacity: 0.2;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-300px);
      -webkit-transform: translateX(-300px);
      visibility: hidden;
    }
    100% {
      transform: translateX(0);
      -webkit-transform:translateX(0);
      visibility: visible;
    }
  }
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      -webkit-transform: translateX(100px);
      visibility: hidden;
    }
    100% {
      transform: translateX(0);
      -webkit-transform: translateX(0);
      visibility: visible;
    }
  }
  
  /*BOX and TEXT SHADOWs*/
  .box-shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* You can adjust the shadow values as needed */
  }


  .text-shadow{ 
    text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

   /*BACKGROUND BANNER IMAGES*/
  .container {
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 100%;
    height: 300px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    animation: imageTransition 20s infinite linear;
}
  
@keyframes imageTransition {
    0% {
        background-position: left center;
        background-image: url('/images/cottage1b.jpg');
    }
    25% {
        background-position: left center;
        background-image: url('/images/cottage2.jpg');
    }
    50% {
        background-position: right center;
        background-image: url('/images/cottage3b.jpg');
    }
    75% {
        background-position: right center;
        background-image: url('/images/cottage4.jpg');
    }
    100% {
        background-position: left center;
        background-image: url('/images/cottage1b.jpg');
    }
}

/*MENU DROPDOWN*/

@media (max-width: 600px) {
  .MobileMenu {
    /* Add your styles to make the dropdown smoother */
    /* For example, you can add transition properties for smoother animations */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
  }

  .MobileMenu.flex {
    animation:menuease 1s ease forwards;
    opacity: 0;
    transform: scaleY(1);
  }
}
@keyframes menuease {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 600px) {
  footer {
    max-height: 70px;
    overflow: hidden; /* Hide any content that overflows the max-height */
  }
}

@media screen and (max-width: 600px) {
  footer {
    max-height: 200px;
    overflow: hidden; /* Hide any content that overflows the max-height */
  }
}

.ribbon-container {
  position: relative;
}

.ribbon {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff0000;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 24px;
  transform: rotate(0deg);
}

.ribbon-container img {
  max-width: 100%;
}

.designbtn {
  margin-left: auto;
  margin-right: auto;
  display: block; /* Ensures the button takes up full width */
  right: 10px; /* Your other styles for the button */
}
